.user-list-container {
  padding: 20px;
  width: 300px;
  margin: 0 auto;
}

.department-dropdown {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.user-list {
  list-style-type: none;
  padding: 0;
}

.user-item {
  background-color: #f7f7f7;
  padding: 10px;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  margin-bottom: 5px;
}

.background {
  background-color: antiquewhite;
  height: 100vh;
}

h1{
  margin: 0;
}